<div class = "scrap_buttons">
  <p id="notice"><%= notice %></p>
  <br>

  <%= button_to "Scrape1", scrape_cars_path  %><br>
  <%= button_to "Scrape2", scrape2_cars_path %><br>

  <%= link_to 'New Car', new_car_path %>
<%= link_to "Sign in with spotify", user_spotify_omniauth_authorize_path %>
</div>


